language: node_js
node_js:
- '0.10'
before_script:
- npm install
script:
- npm test
notifications:
  slack:
    secure: B3EORKSVSnjQN0gJq8Xb/Ti354SQbA8P/uzjDNP5W4WXd4OhjNot1qZsHESwCMR/NBUvlqPSqljGLyYH0WdumviIDOjE2uaS6dtm66CeDhdSsyuXK+suL+fr8nEdXcn+gEdr/EO2f7WyYAB4qXCbe95VS7ACR+2EnaXyUyZ2zmQ=
